.block {
    width:90px; 
    height:90px; 
    margin:5px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color:gainsboro;
    user-select: none;
    display:flex;
}
.block:hover {
    background-color:lightsteelblue;
}
.mytest {
    background-color:gray;
}

.pressed {
    transform: scale(1.2);
}

.item {
    width:70; 
    height:70; 
    margin:10px;
    font-size: 24px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color:rgb(168, 164, 164);
    user-select: none;
    display:flex;
}

.item:left {
    background-color:gray;
}

#direction {
    position:relative;
    left:40px;
    top:40px;
    display:grid;
    width:300px;
    
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

#list {
    position: relative;
    display:grid;
    left:20px;
    top:20px;
    width:440px;
    height:188px;
    border:1px;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.534);
    border-color: rgba(168, 151, 202, 0.644);
    border-style: solid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

#Backspace {
    position:relative;
    left:360px;
    top:-65px;
    width:90px; 
    height:40px; 
    margin:5px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color:gainsboro;
    user-select: none;
    display:flex;
}

#Escape {
    position:relative;
    left:360px;
    top:-55px;
    width:90px; 
    height:40px; 
    margin:5px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color:gainsboro;
    user-select: none;
    display:flex;
}

#Escape:hover {
    background-color:lightsteelblue;
}

#info {
    position: relative;
    left:20px;
    font-size: 20px;
    color: rgb(245, 239, 235);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
    background-image: url('../src/images/background2.png');
    background-repeat: no-repeat;
    background-color: rgb(168, 151, 202);
}

.stop-scrolling { 
    height: 100%; 
    overflow: hidden;
  } 